// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');

.x-quotes-ext
{
	padding-bottom: 20px;
    /* border: 1px solid blue; */
    font-style: normal;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom-style: ridge;
    border-bottom-width: initial;
    width: 100% !important;
}
